<div class="page-sidebar" id="sidebar">
                
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->


  <li><span class="menu-text">&nbsp;<br>&nbsp;</span></li> 


                    <li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-user"></i>
  <span class="menu-text">管理员 </span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="{:url('admin/lst')}">
          <span class="menu-text">
              管理列表          </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

                    <li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">计算机应用技术</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="{:url('video/index')}">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="{:url('article/lst')}">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="{:url('yingyong/index')}">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 
<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">计算机网络技术</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">艺术设计</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">环境艺术设计</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">数字媒体应用</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">物联网应用技术</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">数字展示技术</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 

<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">移动应用开发</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              视频管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              文档管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              练习题管理         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  <li>
      <a href="#">
          <span class="menu-text">
              自学资源库         </span>
          <i class="menu-expand"></i>
      </a>
  </li>
                        </ul>  
                    </li> 
<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">留言管理</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              留言列表        </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  
                        </ul>  
                    </li> 
<li>
                        <a href="#" class="menu-dropdown">
  <i class="menu-icon fa fa-list"></i>
  <span class="menu-text">友情链接</span>
  <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
  <li>
      <a href="#">
          <span class="menu-text">
              友情链接列表        </span>
          <i class="menu-expand"></i>
      </a>
  </li>
  
                        </ul>  
                    </li>
                    </ul>
                <!-- /Sidebar Menu -->
            </div>